.scroll {
    overflow: auto;
    scroll-snap-type: y proximity ;
    position: relative;
    width: 100%;
    height: 100vh;
}


#model3 {
    background-image: url('../../imgs/car10.jpg');
}

#modelx {
    background-image: url('../../imgs/modelx.jpg');
}

#modely {
    background-image: url('../../imgs/modely.jpg');
}

#model-s {
    background-image: url('../../imgs/models.jpg');
}

.background {
    background-size: cover;
    text-align: center;
    background-position: center;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

.models, .spanmodels {
    position: relative;
    top: 65px;
}

.models {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: -18px;  
}
.spanmodels {
    display: flex;
    justify-content: center;
    color: #393C41;
    letter-spacing: 2px;
    font-size: 20px;
}
.order{
    position: relative;
    bottom: -421px;
    margin-bottom: 40px;
    border-radius: 20px;
    font-size: 30px;
    padding: 0 40px;
    cursor: pointer;
    border: none;
}
.order:nth-child(even) {
    background-color: #393C41;
    color: white;
}

.order Link {
    text-decoration: none;
}

@media (max-width: 500px) {
    .order{
      top: 240px;    
    }
}