form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black ;
    
}

form div {
    display: flex;
    flex-direction: row; 
    margin-bottom: 40px;
}

div label {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

.button-container {
    
}