

.header {
    display: flex;
    padding: 15px 100px;
    position: fixed;
    top: 0;
    background-color: rgba(1, 1, 1, 0.0) !important;
    opacity: 0.5 !important;
    height: 10vh;
}

.tesla_name {
    font-family: 'TESLA';
    font-weight: 400;
    font-size: 28px;
}
.tesla_name:hover {
    background-color:  rgba(156, 153, 153, 0.342);
    border-radius: 20px;
}


.cars_models {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}


.menu {
    align-items: center;
    cursor: pointer; 
    position: fixed;
    font-size: 30px;
    right: 20px;
    top: 0px;
}

.menu:hover {
    background-color: #393C41;
    border-radius: 20px;
}

.cars_models li {
    margin-left: 40px;
    list-style: none;
    font-size: 35px;
    cursor: pointer;
}

.cars_models li a{
    list-style-type: none ;
    text-decoration: none;
    color: black;
}

.cars_models li:hover {
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 20px;
    text-align: center;
}

@media (max-width: 760px) {
    .cars_models {
      display: none;    
    } 
}

@media (max-width: 400px) {
    .menu {
        margin-left: 80px;
    } 
}
