.Menu-Container {
    flex-direction: column;
    list-style-type: none;
    position: fixed;
    right: 19px;
    font-size: 40px;
    text-align: center;
    z-index: 1000 !important;
    
}

.Menu-Container li {
    background-color: blanchedalmond;
    cursor: pointer;
    z-index: 1000 !important;
}