@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Dongle', 'sans-serif';   
}

.scroll {
    overflow: auto;
    scroll-snap-type: y proximity ;
    position: relative;
    width: 100%;
    height: 100vh;
}


.model3 {
    background-image: url('./imgs/car10.jpg');
}

.modelx {
    background-image: url('./imgs/modelx.jpg');
}

.modely {
    background-image: url('./imgs/modely.jpg');
}

.model-s {
    background-image: url('./imgs/models.jpg');
}

.background {
    background-size: cover;
    text-align: center;
    background-position: center;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

.models, .spanmodels {
    position: relative;
    top: 65px;
}

.models {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: -18px;  
}
.spanmodels {
    display: flex;
    justify-content: center;
    color: rgba(73, 73, 73, 0.801);
    letter-spacing: 2px;
    font-size: 20px;
}
.order, .inventory {
    position: relative;
    top: 415px;
    margin-bottom: 40px;
    border-radius: 20px;
    font-size: 30px;
    padding: 0 40px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    text-align: center;
}
.order {
    background-color: black;
    color: white;
    margin-right: 45px;
}
